<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Templates</title>

	<!-- WinJS references -->
	<link href="//Microsoft.WinJS.1.0/css/ui-dark.css" rel="stylesheet" />
	<script src="//Microsoft.WinJS.1.0/js/base.js"></script>
	<script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

	<!-- Telerik references -->
	<link href="///Telerik.UI/css/common.css" rel="stylesheet" />
	<link href="///Telerik.UI/css/dark.css" rel="stylesheet" />
	<script src="///Telerik.UI/js/jquery.js"></script>
	<script src="///Telerik.UI/js/ui.js"></script>

	<!-- Templates references -->
	<link href="/css/default.css" rel="stylesheet" />
	<script src="/js/default.js"></script>
	<script src="js/defaultData.js"></script>
</head>
<body>
	<section class="mainContent">
		<div id="flipViewItemTemplate" data-win-control="WinJS.Binding.Template" style="display: none">
			<img src="#" data-win-bind="src: picture; alt: title " style="margin-right: 30px" />
			<h2 data-win-bind="innerText: title"></h2>
		</div>

		<div id="paginationTemplate" data-win-control="WinJS.Binding.Template" style="display: none">
			<img class="thumbitem" src="#" data-win-bind="src:thumb;" />
		</div>

		<div id="flipView1" style="width: 600px; height: 350px" data-win-control="WinJS.UI.FlipView" data-win-options="{ 
			itemDataSource: DefaultData.bindingList.dataSource, 
			itemTemplate: select('#flipViewItemTemplate') 
		}">
		</div>
		<div id="pagination1" data-win-control="Telerik.UI.RadPagination" data-win-options="{
			pageProvider: select('#flipView1'),
			itemTemplate: select('#paginationTemplate')
		}">
		</div>
	</section>
	<div class="info" data-win-control="WinJS.UI.HtmlControl" data-win-options="{
		uri: 'readme.html'
	}">
	</div>
</body>
</html>
