.mainContent {
	margin: 120px;
	width: 1000px;
}

.info {
	color: #feef7a;
	margin-left: 120px;
	width: 1000px;
}

/* row template styles */
.pItem {
	color: #ccfa00;
}

.notes {
	font-style: italic;
}

.altRow {
	background-color: #303030;
}
