<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Templates</title>

	<!-- WinJS references -->
	<link href="//Microsoft.WinJS.2.0/css/ui-dark.css" rel="stylesheet" />
	<script src="//Microsoft.WinJS.2.0/js/base.js"></script>
	<script src="//Microsoft.WinJS.2.0/js/ui.js"></script>

	<!-- Telerik references -->
	<link href="///Telerik.UI/css/common.css" rel="stylesheet" />
	<link href="///Telerik.UI/css/dark.css" rel="stylesheet" />
	<script src="///Telerik.UI/js/jquery.js"></script>
	<script src="///Telerik.UI/js/ui.js"></script>

	<!-- Templates references -->
	<link href="/css/default.css" rel="stylesheet" />
	<script src="/js/default.js"></script>
</head>
<body>
	<section class="mainContent">
		<span id="winTemplateComboBox"></span>
		<div id="comboBoxTemplate" data-win-control="WinJS.Binding.Template">
			<div id="container">
				<img src="#" style="width: 50px;"
					data-win-bind="alt: Title; src: SmallPictureUrl" />
				<h6 data-win-bind="innerText: Title"></h6>
			</div>
		</div>
	</section>
	<div class="info" data-win-control="WinJS.UI.HtmlControl" data-win-options="{
		uri: 'readme.html'
	}">
	</div>
</body>
</html>
