<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="a1bb5bb8-4e3b-4f44-a886-9bd352bccf67"
    Version="1.0.0.0"
    Publisher="CN=tsivanova" />

  <Properties>
    <DisplayName>HierarchyExpandCollapseInCode</DisplayName>
    <PublisherDisplayName>tsivanova</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="HierarchyExpandCollapseInCode"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="HierarchyExpandCollapseInCode"
        ForegroundText="light"
        BackgroundColor="#464646">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
