.mainContent {
	margin: 120px;
	height: 300px;
	width: 1000px;
}

.info {
	color: #feef7a;
	margin-left: 120px;
	width: 1000px;
}

/*tile appearance*/
div.t-hubtile {
	width: 310px;
	height: 150px;
}

div.t-tile {
	background-color: #009D00;
	color: #fff;
}

.t-tile h2 {
	margin: 10px;
}

.grid {
	display: -ms-grid;
	-ms-grid-columns: 2;
	-ms-grid-rows: 1;
	margin: 10px;
}

.cell1 {
	-ms-grid-column: 1;
}

.cell2 {
	-ms-grid-column: 2;
}

.smallerText {
	font-size: 10pt;
}
/*#endregion*/

#refreshBtn {
    display: block;
}
