.mainContent {
	margin: 120px;
	height: 500px;
}

.options {
	list-style: none;
	float: left;
}

.options li {
	margin: 5px;
	font-size: 20px;
	line-height: 45px;
}

#picker {
	float: right;
	margin-top: 50px;
}

.info {
	color: #feef7a;
	margin: 0 120px;
}

.mainContent:before,
.mainContent:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}

.mainContent:after {
	clear: both;
}
